{% extends "layout.njk" %}

{% block content %}
<article>
  {{ content | safe }}
</article>

<hr style="margin: 2rem 0;" />

<section style="width: 100%; display: block;">
  <h3>Comments</h3>
  <script src="https://giscus.app/client.js"
    data-repo="MartinApostolov/Blog"
    data-repo-id="R_kgDOO6imGQ"
    data-category="General"
    data-category-id="DIC_kwDOO6imGc4CrZ8m"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
</section>
{% endblock %}
